<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets>
    <target name="logfile"
            xsi:type="File"
            fileName="D:\Improvement\PrepareForTestReportTeacher\NotepadTest\TestResults\TestLog.txt"
            layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss}|${level:uppercase=true}|${logger}|${message}"
            encoding="UTF-8"/>

    <target name="logconsole"
            xsi:type="ColoredConsole"
            layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss}|${level:uppercase=true}|${logger}|${message}"
            useDefaultRowHighlightingRules="True"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>

</nlog>